@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
* {
	block-size: border-box; 
	padding: 0px;
	margin: 0px;
}
html {
	background-color: #5c007a;
}
body {
	background-color: rgb(210,210,210);
	color: #000000;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}
h1, h2, h3 {
	font-family: "Roboto Slab", serif;
}
h1 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 100;
}
h2 {
	color: #ffffff;
	font-size: 30px;
	font-style: italic;
	font-weight: 100;
}
div[role=article] > h3 {
	color: #000000;
	font-size: 20px;
	margin: 50px 0px 25px 0px;
}
header[role=banner] {
	margin: 50px 0px 0px 0px;
	padding: 25px 0px 50px 125px;
	background-color: #8e24aa;
}
div.summary {
	padding: 25px 0px 0px 0px;
	font-style: italic;
}
div.summary a {
	color: #5c007a;
}
div.summary a:hover {
	color: #c68400;
}
div.summary p:nth-child(2) {
	padding: 25px 0px 0px 0px;
	font-weight: 900;
}
div[role=article] {
	margin: 25px 495px 25px 125px;
}
footer, .sidebar > .wrapper {
	background-color: #8e24aa;
}
h3.select, h3.archives, h3.resources {
	color: #ffffff;
}
ul {
	list-style-type: none;
	background-color: #ffffff;
}
footer {
	padding: 25px 0px 25px 33%; 
	margin-top: 50px;
}
footer > a {
	color: #ffffff;
	padding: 0px 50px 0px 25px;
}
footer > a:hover {
	color: #ffe54c;
}
.sidebar > .wrapper {
	position: absolute;
	top: 275px;
	right: 0px;
	width: 320px;
	margin: 25px 125px 25px 25px;
}
.sidebar > .wrapper li {
	font-size: 14px;
	padding: 5px;
}
.sidebar > .wrapper li > a {
	font-style: normal;
	font-size: 18px;
}
.sidebar > .wrapper li > a.designer-name {
	font-weight: 100;
	font-size: 14px;
}
.sidebar h3 {
	padding: 5px 0px 5px 5px;
}
li:hover {
	background-color: #ffb300;
}
li a:hover {
	color: white;
}
a {
	color: #5c007a;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #c68400;
}
abbr {
	text-decoration: none;
}