@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
* {
	block-size: border-box; 
	padding: 0px;
  margin: 0px;
  overflow: hidden-x;
}
html {
  background-color: #5c007a;
}
body {
  position: relative;
	background-color: rgb(225,225,225);
	color: #000000;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}
h1, h2, h3 {
	font-family: "Roboto Slab", serif;
}
h1 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 100;
}
h2 {
	color: #ffffff;
	font-size: 30px;
	font-style: italic;
	font-weight: 100;
}
header[role=banner] {
	margin: 50px 0px 0px 0px;
	padding: 25px 0px 57px 125px;
  background-color: #8e24aa;
}
div[role=article] > h3 {
	color: #000000;
	font-size: 20px;
	margin: 50px 0px 25px 0px;
}
div.summary {
	padding: 25px 0px 0px 0px;
	font-style: italic;
}
div.summary a {
	color: #5c007a;
}
div.summary a:hover {
	color: #c68400;
}
div.summary p:nth-child(2) {
	padding: 25px 0px 0px 0px;
	font-weight: 900;
}
.design-selection, .design-archives, .zen-resources {
  position: absolute;
  background-color: #8e24aa;
  top: 223px;
  right: 0px;
  width: 320px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 50px;
}
.design-selection:hover, .design-archives:hover, .zen-resources:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
div.design-archives {
  top: 723px;
}
div.zen-resources {
  top: 923px;
}
.sidebar > .wrapper li {
	font-size: 14px;
	padding: 13px 0px 13px 10px;
}
.sidebar > .wrapper li > a {
	font-style: normal;
  font-size: 18px;
}
.sidebar > .wrapper li > a.designer-name {
	font-weight: 100;
	font-size: 14px;
}
h3.select, h3.archives, h3.resources {
	color: #ffffff;
}
.sidebar h3 {
	padding: 11px 0px 11px 10px;
}
li:hover {
	background-color: #ffb300;
}
li a:hover {
	color: white;
}
ul {
	list-style-type: none;
	background-color: #ffffff;
}
footer {
  background-color: #8e24aa;
	margin-top: 50px;
  margin-bottom: 50px;
}
footer > a {
  color: #ffffff;
  text-align: center;
}
footer > a:hover {
	color: #ffe54c;
}
footer a {
  position: relative; 
  float: left;
}
a {
	color: #5c007a;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #c68400;
}
abbr {
	text-decoration: none;
}
/* Groß */
@media (min-width: 1440px) {
  header[role=banner] {
    padding: 25px 0px 57px 200px;
  }
	div[role=article] {
		margin: 25px 595px 25px 200px;
	}
	.design-selection, .design-archives, .zen-resources {
		margin: 25px 200px 25px 25px;
  }
  footer {
    padding: 38px 0 62px 33.33%; 
    width: 100%;
  }
  footer a {
    width: 5%;
  }
}
/* Mittel */
@media (min-width: 992px) and (max-width: 1439px) {
  header[role=banner] {
    padding: 25px 0px 57px 125px;
  }
	div[role=article] {
		margin: 25px 520px 25px 125px;
	}
	.design-selection, .design-archives, .zen-resources {
		margin: 25px 125px 25px 25px;
  }
  footer {
    padding: 38px 0 62px 33.33%; 
    width: 100%;
  }
  footer a {
    width: 5%;
  }
}
/* Klein */
@media (max-width: 991px) {
  html {
    background-color: #5c007a;
    font-size: 1em;
  }
  header[role=banner] {
    padding: 25px 75px 57px 75px;
  }
  h1, h2, h3 {
    text-align: center;
  }
	div[role=article] {
    margin: 25px 75px 25px 75px;
    text-align: justify;
	}
  .design-selection, .design-archives, .zen-resources  {
    position: relative;
    background-color: #8e24aa;
    top: 0px;
    right: 0px;
    box-shadow: none;
    transition: none;
    margin-bottom: 0px;
    width: 100%;
    box-shadow: none;
  }
  .design-selection:hover, .design-archives:hover, .zen-resources:hover {
    box-shadow: none;
  }
  .design-selection  {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  div.design-archives {
    top: 0px;
    margin-bottom: 50px;
  }
  div.zen-resources {
    top: 0px;
    margin-bottom: 150px;
  }
  .sidebar > .wrapper li {
    padding: 13px 0px 13px 25px;
    text-align: center;
  }
  .sidebar h3 {
    padding: 11px 0px 11px 25px;
  }
  footer {
    position: absolute;
    bottom: -150px;
    padding: 38px 0px 38px 0px;
    width: 100%;
  }
  footer a {
    text-align: center;
    width: 20%;
    padding: 0px 0px 5px 0px;
  }
}