@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
* {
	block-size: border-box; 
	padding: 0px;
	margin: 0px;
}
body {
	background-color: rgb(230, 230, 240);
	color: rgb(15, 19, 19);
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}
h1, h2, h3 {
	color: rgb(35, 39, 39);
	font-family: "Roboto Slab", serif;
}
h1 {
	margin: 25px 0px 25px 0px;
	font-size: 30px;
}
h2 {
	font-size: 25px;
	font-style: italic;
}
div[role=article] > h3 {
	font-size: 20px;
	margin: 50px 0px 25px 0px;
}
header[role=banner] > h1 {
	background-color: rgb(230, 230, 240);
	padding: 0px 0px 0px 125px;
}
header[role=banner] > h2 {
	background-color: rgb(255, 255, 255);
	box-shadow: inset 0px 10px 12px -10px rgba(0, 0, 0, 0.6),
				inset 0px -8px 12px -10px rgba(0, 0, 0, 0.5);
	padding: 50px 0px 50px 125px;
}
div.summary {
	font-style: italic;
}
div.summary a {
	color: rgb(197, 53, 0);
}
div.summary a:hover {
	color: orangered;
}
div[role=article] {
	margin: 25px 495px 25px 125px;
}
footer, .sidebar > .wrapper {
	box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.05),
				0 6px 40px 0 rgba(0, 0, 0, 0.05);
}
footer {
	background-color: #FFF7D0;
	/* padding: 25px 0px 25px 125px; */
	padding: 25px 0px 25px 33%; 
	margin-top: 50px;
}
footer > a {
	padding: 0px 50px 0px 25px;
}
.sidebar > .wrapper {
	position: absolute;
	background-color: #FFF7D0;
	top: 222px;
	right: 0px;
	width: 320px;
	margin: 25px 125px 25px 25px;
}
.sidebar > .wrapper li {
	font-style: italic;
	font-size: 14px;
	padding: 5px;
}
.sidebar > .wrapper li > a {
	font-style: normal;
	font-size: 18px;
}
.sidebar > .wrapper li > a.designer-name {
	font-weight: 100;
	font-size: 14px;
}
.sidebar h3 {
	padding: 5px 0px 5px 5px;
}
a {
	color: rgb(35, 39, 69);
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: rgb(75, 79, 109);
}
abbr {
	text-decoration: none;
}
ul {
	list-style-type: none;
	background-color: rgb(255, 253, 243);
}